################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoBTW3/FileContentIndex/608afdf8-1916-4dd7-9fc4-cf4471dfdb21.vsidx
