################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoBTW3/FileContentIndex/608afdf8-1916-4dd7-9fc4-cf4471dfdb21.vsidx
/.vs/DemoBTW3/FileContentIndex/02ef2eaf-2a2d-44bd-8ca9-3ad89fbd4fbb.vsidx
/.vs/DemoBTW3/FileContentIndex/7e1ee5a6-350f-40f8-a929-56b8b2612b09.vsidx
