################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoBTW/FileContentIndex
/obj/Debug/net6.0
/.vs/DemoBTW/v17

