@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table id="tabla-personas">
        <thead>
            <tr class="fila-datos">
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
            <tr class="fila-datos">
                <td>12345678</td>
                <td>María Pérez</td>
                <td>30</td>
                <td>Bogotá</td>
            </tr>
            <tr class="fila-datos">
                <td>98765432</td>
                <td>Juan García</td>
                <td>25</td>
                <td>Medellín</td>
            </tr>
            <tr class="fila-datos">
                <td>1000888583</td>
                <td>Diego Conde</td>
                <td>22</td>
                <td>Medellín</td>
            </tr>

            <tr class="fila-datos">
                <td>1214735293</td>
                <td>Jordan Carmona</td>
                <td>26</td>
                <td>Medellín</td>
            </tr>
            <tr class="fila-datos">
                <td>1098797350</td>
                <td>Antonio Diaz</td>
                <td>25</td>
                <td>Barranquilla</td>
            </tr>
            <tr>
                <td>1070990078</td>
                <td>Daniel Mora</td>
                <td>23</td>
                <td>Facatativá</td>
            </tr>
            <tr class="fila-datos">
                <td>1022098701</td>
                <td>Alexis Marulanda Florez</td>
                <td>26</td>
                <td>Medellín</td>
            </tr>
            <tr class="fila-datos">
                <td>1152202824</td>
                <td>Juan David Marín</td>
                <td>29</td>
                <td>Medellín</td>
            </tr>
        </tbody>
    </table>
</div>
